.chat-item .chat-header img {
    height: 35px; 
    width: 35px; 
    object-fit: cover;
    border-radius: 50px; 
}

.chat-item {
    margin: 10px 0;
    font-size: .9rem;
    line-height: 1.2;
}

.chat-item .chat-header {
    display: flex;
    align-items: center;
}

.chat-item .chat-header img {
    margin-right: 10px;
}

.chat-item p {
    display: inline;
}

.chat-footer {
    height: 68px;
    padding: 10px 20px;
    width: 100%;
    background: #fff;
}

.chat-footer form {
    display: flex;
}

.chat-footer input {
    background: #F2F2F2;
    color: #691C33;
    padding: 10px 20px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.chat-footer button {
    border: none;
    padding: 5px 10px;
    background: transparent;
    vertical-align: middle;
}