* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 80px;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

.chat input {
  padding: 20px;
  width: calc(100% - 40px);
  border: none;
  background: #eeeeee;
}

.chatbox {
  padding: 0 20px;
  overflow-y: scroll;
  max-height: calc(100% - 40px);
}