* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #f2f2f2;
}

header.top-app {
  background: #691C33;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
}

header.top-app a {
  text-transform: uppercase;
  line-height: 15px;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
}

header.top-app a svg {
  margin-right: 5px;
}

header.top-app .logout {
  border-radius: 40px;
  border: 2px solid #fff;
}

.row {
  display: flex;
}

.row .col {
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chatbox {
  padding: 0 20px 10px;
  overflow-y: scroll;
}

@media (min-width: 380px) {
  .mobile {
    margin: 0 auto;
    max-width: 375px;
    height: 812px;
    border: 5px solid #000;
    border-radius: 20px;
    overflow: hidden;
  }

  .chat {
    max-height: 572px;
  }
}